@import "../styles/colors/index";
nav {
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  z-index: 1;
  display: flex;
  background-color: $brick-red;
  justify-content: flex-end;
  border-bottom: 2px solid #fff;
  box-shadow: 0 0 13px 0 #000;

  ul {
    margin: 0;
    display: inline-flex;
    list-style-type: none;
    padding: 15px;
    li {
      a {
        text-decoration: none;
        background-color: rgb(237, 174, 73);
        color: #fff;
        padding: 7px 15px;
        border-radius: 7px;
        font-weight: 300;
      }
    }
  }
}
.wrapper__image {
  width:100%;
  position:relative;
  height:100%;
  background-size: cover;
  background-image: url('https://wallpaperaccess.com/full/255883.jpg');
}
